@import '~bootstrap/scss/_functions.scss';
@import "~bootstrap/scss/_variables.scss";
@import "~bootstrap/scss/mixins/_breakpoints.scss";

html {
  min-height: 100vh !important;
  font-family: SansSerif, serif;
}

body {
  background-color: #fff !important;
  min-height: inherit !important;
  border: 0.5rem solid #284E60;
}

root {
  min-height: inherit !important;
}

.quote-header {
  color: #F99B45;
  font-size: 1.5rem;
}

#new-quote {
  background-color: #D95980;
  border: none;
  color: #fff;
}

#tweet-quote {
  margin-left: 1rem;
  color: #63AAC0;
}

@media (min-width: 768px ) {

  .quote-header {
    font-size: 3rem;
  }

  #text {
    font-size: 2rem;
  }

  #author {
    font-size: 1.5rem;
  }

}

@media (min-width: 1024px ) {

  .quote-header {
    font-size: 4rem;
  }

  #text {
    font-size: 2.5rem;
  }

  #author {
    font-size: 2rem;
  }

}



